/* .resume {
  --color: #239ce2;
  margin: 0 auto;
  flex: 1.2;
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 20px;
  height : auto;
  min-width: 45vw;
  min-height: 8in;
  width : 100%;
  background-color: white;
} */

.resume {
  --color: #239ce2;
  margin: 0 auto;
  aspect-ratio: 0.77;
  background-color: white;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  padding: 1.1rem;
  width: 100%;
  max-width: 8.5in;
  max-height: 11in;
}
.header {
  display: flex;
  flex-direction: column;
}

.header .heading {
  /* font-size: 2.7rem; */
  font-size: 2.7rem;
  font-weight: 500;
  text-transform: capitalize;
}

.header .subHeading {
  color: var(--color);
  font-weight: 500;
  /* font-size: 1.1rem; */
  font-size: 1.1rem;
}

.header .links {
  margin-top: 0.4rem;
  display: flex;
  gap: 0.8rem;
  flex-wrap: wrap;
  row-gap: 0.2rem;
}

.header .link {
  /* font-size: 0.875rem; */
  font-size: 0.875rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
}

.header .link svg {
  color: var(--color);
  height: 0.85rem;
  width: 0.85rem;
  /* height: 16px;
  width: 16px; */
}

.main {
  display: flex;
  gap: 1rem;
  /* gap: 30px; */
}

.col1 {
  flex: 1.3;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.col2 {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.section .sectionTitle {
  font-size: 1.1rem;
  /* font-size: 1.3rem; */
  font-weight: bold;
  width: 100%;
  border-bottom: 0.12rem solid #000;
}

.section .content {
  display: flex;
  flex-direction: column;
  gap: 0.1rem;
  padding: 0.08rem 0rem;
  /* gap: 1px;
  padding: 10px 0; */
}
.section .content .item {
  border-bottom: 0.02rem dotted lightgray;
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  padding-bottom: 0.3rem;
  padding-top: 0.3rem;
  /* gap: 2px;
  padding-bottom: 10px; */
}
.section .content .item:last-child {
  border-bottom: none;
}

.section .content .item .contentHeader{
  display: flex;
  flex-direction: column;
}

.section .content .item .row{
  display: flex;
  justify-content: space-between;
}

.section .content .item .row1{
  display: flex;
  gap:0.5rem;
}

.content .title {
  font-weight: 500;
  font-size: 0.94rem;
  /* font-size: 0.94rem; */
  line-height: 1rem;
  color:navy;
}

.content .type {
  font-weight: 400;
  /* font-size: 0.8rem; */
  font-size: 0.8rem;
  line-height: 1rem;
}

.content .result{
  font-size: 0.84rem;
  /* font-size: 0.84rem; */
}

.content .subTitle {
  font-weight: bold;
  color: var(--color);
  font-size: 0.84rem;
  /* font-size: 0.84rem; */
}

.content .overview {
  font-size: 0.84rem;
  /* font-size: 0.84rem; */
}

.content .link {
  display: flex;
  gap: 0.15rem;
  font-size: 0.65rem;
  /* font-size: 0.75rem; */
  cursor: pointer;
  color: var(--color);
}
.content .link svg {
  height: 0.75rem;
  width: 0.75rem;
  /* height: 14px;
  width: 14px; */
  color: var(--color);
}

.content .date {
  display: flex;
  gap: 0.15rem;
  align-items: center;
  font-size: 0.75rem;
  /* font-size: 0.875rem; */
}

.content .date svg {
  height: 0.75rem;
  width: 0.75rem;
  /* height: 14px;
  width: 14px; */
}

.content .points,
.numbered {
  padding-left: 1rem;
  font-size: 0.84rem;
  /* padding-left: 18px;
  font-size: 0.84rem; */
}

.numbered li {
  list-style-type: decimal;
}

.hidden {
  display: none;
}

.skill {
  display: inline-block;
  padding: 0.1rem 0.1rem;
  margin: 0.1rem;
  border: 0.05rem solid #000;
  border-radius: 0.25rem;
  font-size: 0.85rem;
  /* font-size: 0.85rem; */
}

.skillresume{
  display: flex;
  flex-wrap: wrap;
}

/* @media only screen and (min-width:1300){
  .resume {
    flex-grow:1;
    --color: #239ce2;
    margin: 0 auto;
    flex: 1.2;
    box-shadow: 1px 1px 3px 2px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 20px;
    height : auto;
    width : 50vw;
    max-width: 11.69in;
    max-height : 8.3in;
  }
}

@media only screen and (max-width:1300px){
  .resume {
    --color: #239ce2;
    margin: 0 auto;
    flex: 1.2;
    box-shadow: 1px 1px 3px 2px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 20px;
    height : fit-content;
    max-width: 11.69in;
    width : 90vw;
  }
} */
